.spot-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  background-color: #0985EB;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  padding: 5px 10px;
  justify-content: center;

  img {
    margin-right: 5px;
  }

  .spot-facility-name {
    margin-left: 5px;
  }
}

// .wrapper {
//   background-image: url("/assets/icons/Backgrond.png");
//   opacity: 0.1;
// }

.spot-title {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  color: #2c3e50;
  margin: 5px 20px 15px 20px;
  margin-top: 30px;
}

.spot-details-wrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 10px;
  padding: 5px 10px;

  .spot-details-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 5px;
    color: #2c3e50;

    .item-key {
      display: flex;
      align-self: flex-start;
      width: 100px;
      font-weight: 600;

      &:after {
        content: ':\00a0';
      }
    }

    .item-value {
      display: flex;
      flex: 1;
    }

    .area-color {
      display: flex;
      align-items: center;
      height: 20px;
      width: 50px;
      border: 1px solid #dee2e6;
      border-radius: 8px;
      box-sizing: border-box;
      margin-left: 10px;
    }

    img {
      margin-right: 5px;
    }
  }
}

.spot-advertisement {
  display: flex;
  border: 1px solid #dee2e6;
  margin: 20px;
  margin-top: 30px;
  height: 80px;
}

.spot-actions {
  display: flex;
  flex-direction: row;
  margin: 30px 20px;
  justify-content: space-around;

  .spot-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 5px 10px;
    min-width: 40px;
    justify-content: center;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    color: #2c3e50;

    img {
      margin-right: 10px;
    }
    &:hover {
      background-color: #ecedf0;
    }

    &.share {
      text-decoration: none;
    }
  }
}

.spot-footer {
  display: flex;
  color: #2c3e50;
  font-weight: 600;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}
