<div id="s2f-spot">
  <div class="spot-header">
    <img src="../assets/icons/Tiba Logo.svg" height="25" width="80">
    <span>Scan 2 Find - </span>
    <span class="spot-facility-name">{{ selectedSpot.facilityName }}</span>
  </div>
  <div class="spot-title">
    <span>Your Parking Spot Details:</span>
  </div>
  <div class="spot-details-wrapper">
    <div class="spot-details-item">
      <div class="item-key">Floor</div>
      <div class="item-value">{{ selectedSpot.floor }}</div>
    </div>
    <div class="spot-details-item">
      <div class="item-key">Area</div>
      <div class="item-value">{{ selectedSpot.area }}</div>
    </div>
    <div class="spot-details-item">
      <div class="item-key">Row</div>
      <div class="item-value">{{ selectedSpot.row }}</div>
    </div>
    <div class="spot-details-item">
      <div class="item-key">Description</div>
      <div class="item-value">{{ selectedSpot.description }}</div>
    </div>
  </div>

  <div class="spot-advertisement">
    Advertisement-Alt
  </div>

  <div class="spot-footer">
    Powered By
    <img src="../assets/icons/Tiba Logo.svg" height="25" width="80">
    2023
  </div>
</div>

<div class="spot-actions">
  <a class="spot-action share" [href]="url"
    data-action="share/whatsapp/share" target="_blank">
    <img src="../assets/icons/Whatspapp.svg" height="15" width="15">
    Share
  </a>
  <div class="spot-action download" (click)="onDownloadClick()">
    <img src="../assets/icons/Download.svg" height="15" width="15">
    Download
  </div>
</div>



